header{
    color: red;
    text-align: center;
}

nav{
    color: blue;
    text-align: center;


}

.navis{
    margin: 25px;
}

.mor{
    color: blueviolet;
    text-align: center;
}

.sari{
    color: rgb(129, 129, 4);
}